*{
    background-color: pink;
    box-sizing: border-box;
}
header{
    width: 100%;
}
nav{
    width: 100%;
}
nav ul{
    height: 50px;
    width: 100%;
    display:flex; 
    flex-direction: row;
    background: rgb(130, 65, 70);
    justify-content: space-around;
    list-style: none;
}
a{
    background: rgb(130, 65, 70);
}
ul li{
    font-size: 30px;
    background: rgb(130, 65, 70);

}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 100px;
}
#small{
    display: flex;
  align-items: center;
  justify-content: center;
}
img{
    width: 700px;
    height:700px;
}


span{
    font-style: italic;
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color: rgb( 130,	65,	70);
    margin: 20px;
    padding: 20px;
}