section{
    border: 1px solid green;
    width: 30.33%;
    height:100px;
    float:left;
}

header, footer{
    border: 2px solid red;
    width: 100%;
    height: 100px;
    clear:both

}
*{
    box-sizing:border-box;
}
section p{
    text-decoration-style: wavy;
}