#title{
    color: Black;
    font-family: Helvetica;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-style: double;
    text-align: center;
  }
  #img-div{
    height: 250px;
    width: 200px;
  }
  #image{
    width: 350px;
    border: 2px solid rgb(26, 23, 23);
    display: block;
    align-item: center;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  
  }
  .sec{
    background: gray;
    width: 400px;
  }
  hr{
    border-bottom: 2px double black;
    margin: 2px;
  }
  span{
    font-weight: 200px
  }
  #tribute-info{
    background: gold
  }